.contact-container {
    display: flex;
    flex-direction: row-reverse; /* Image will be on the right, text on the left */
    align-items: center; /* Vertically center the content */
    background-color: white;
}

.george-image {
    margin-top: 30px;
    width: 45%;
    height: auto;
    margin: 0 2rem 0 2rem;
}
